<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCONVERT <3 </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1> DOCONVERT </h1>
        <p>Convert your documents in seconds! </p>
    </header>

    <main>

        <section>

            <h2>Upload Your File</h2>

            <form action="/upload" method="POST" enctype="multipart/form-data">

                <input
                    type="file"
                    name="document"
                    accept=".pdf,.doc,.docx"
                    required>

                <br><br>

                <label for="conversion">
                    Convert To
                </label>

                <br>

                <select id="conversion" name="conversion">
                

                    <option value="pdf">PDF</option>

                    <option value="word">Word</option>

                </select>

                <br><br>

                <button type="submit">

                     Convert <3

                </button>

            </form>

        </section>

    </main>

</body>
</html>